#*#
*.a
*.d
*.gcno
*.gcda
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.obj
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.pyc
*.retry
*.so
*.suo
**/*.sym
*~
*,cover
.#*
.*.cmd
.*.swp
*.vcxproj.user
Module.symvers
TAGS
cscope.*
tags
*/.vs
*/x64/
/vstudio/SDV-default.xml
/vstudio/runsdvui.cmd
/vstudio/sdv-user.sdv
/vstudio/smvbuild.log
/vstudio/smvstats.txt
/vstudio/wnbd.DVL.XML
/vstudio/x64/
/vstudio/sdv/
/vstudiox64/

include/version.h
